*, *::after, *::before {
    box-sizing: border-box;
    letter-spacing: .01em;
}

html {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

body {
    color: $color-text;
    font-family: "Tablet Gothic", sans-serif;
    line-height: 1.5;
    margin: 0 auto 5rem;
    min-width: 320px;
    max-width: 900px;
    padding: 1em;
}

a {
    color: $color-link;
    text-decoration: none;

    @include hover {
        text-decoration: underline;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.2;
    margin: 48px 0 16px;
}

summary {
    cursor: pointer;
}

svg {
    use {
        fill: currentColor;
        pointer-events: none;
    }
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

button {
    cursor: pointer;

    &[disabled] {
        cursor: default;
    }
}
