.header {
    border-bottom: 3px solid $color-header-border;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

.header__logo {
    display: inline;
    height: 2rem;
}

.header__title {
    margin: 0.5rem 0 0 0;
    font-size: 1.5rem;
}
