$button-size: 40px;

.icon-button {
    border-radius: 50%;
    border: 0;
    height: $button-size;
    padding: 0;
    width: $button-size;
    color: currentColor;
    margin: 0;
    background: #fff;

    svg {
        width: $button-size;
        height: $button-size;
    }
}

.icon-button--play-pause {
    &:hover, &:focus {
        color: $color-play-button-hover;
    }
}

.icon-button--tab {
    background: none;
    color: white;

    &.icon-button--active,
    &:hover,
    &:focus {
        color: $color-player-button-hover;
    }
}
