.player-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-player-bg;
}

.player {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon-button {
        background-color: $color-player-button-bg;
        color: $color-player-button;
        margin: 24px 0;
        flex-shrink: 0;

        &:disabled {
            color: $color-player-button-disabled;
            background-color: $color-player-button-bg-disabled;
        }
    }

    .icon-button--settings {
        margin-left: 12px;
    }
}

.player__track-info {
    width: 100%;
    color: #fff;
    margin: 0 24px;
}

.player__track {
    margin: 0;
}

.player__kicker {
    display: inline-block;
    height: 12px;
    font-size: 12px;
    letter-spacing: .05em;
    font-weight: normal;
}

.player__title {
    display: block;
    letter-spacing: .03em;
    font-size: 1rem;
    line-height: 1;
}

.player__progress {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 8px 0;

    .timer {
        font-size: 12px;
        width: 50px;
        margin-right: 8px;
    }

    .time-estimate {
        font-size: 12px;
        width: 50px;
        margin-left: 8px;
        text-align: right;

        &::before {
            content: '~';
            margin-right: 2px;
        }
    }
}

.player__progress-bar {
    appearance: none;
    width: 100%;
    margin: 8px 0;
    height: 4px;
    background-color: $color-progress-background;
    border: 0;
    border-radius: 2px;
}

::-webkit-progress-bar {
    border-radius: 2px; // needed repetition
    background-color: $color-progress-background;
}
::-moz-progress-bar {
    // equivalent to webkit-progress-value
    border-radius: 2px;
    background-color: $color-progress-value;
}

::-webkit-progress-value {
    border-radius: 2px; // needed repetition
    background-color: $color-progress-value;
}

.player__buttons {
    flex-shrink: 0;
}
