.player-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-player-bg;
}

.player {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;
    display: flex;
    align-items: center;
}

$play-button-size: 40px;

.player__playbutton {
    background-color: #fff;
    border-radius: 50%;
    border: 0;
    color: inherit;
    font-size: 1rem;
    height: $play-button-size;
    line-height: $play-button-size;
    margin: 18px 16px 18px 0;
    text-align: center;
    width: $play-button-size;
    flex-shrink: 0;

    &[disabled] {
        background-color: $color-play-button-disabled;
    }
}

.player__pause {
    display: inline-block;
    height: 1em;
    position: relative;
    width: 1em;

    &::before,
    &::after {
        background-color: currentColor;
        border-radius: 3px;
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        width: 6px;
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }
}



.player__track-info {
    width: 100%;
    color: #fff;
}

.player__track {
    margin: 0;
}

.player__kicker {
    font-size: 12px;
    letter-spacing: .05em;
    font-weight: normal;
}

.player__title {
    display: block;
    letter-spacing: .03em;
    font-size: 1rem;
    line-height: 1;
}

.player__progress {
    display: flex;
    position: relative;

    .timer {
        position: absolute;
        right: 0;
        bottom: 16px;
        font-size: 14px;
    }
}

.player__progress-bar {
    appearance: none;
    width: 100%;
    margin: 8px 0;
    height: 4px;
    background-color: $color-progress-background;
    border: 0;
    border-radius: 2px;
}

::-webkit-progress-bar {
    border-radius: 2px; // needed repetition
    background-color: $color-progress-background;
}
::-moz-progress-bar {
    // equivalent to webkit-progress-value
    border-radius: 2px;
    background-color: $color-progress-value;
}

::-webkit-progress-value {
    border-radius: 2px; // needed repetition
    background-color: $color-progress-value;
}

.player__playlist-button {
    margin-left: 1rem;
    background: none;
    border: 0;
    color: #fff;
    border-top: 4px solid #fff;
    padding: 0;

    &::before,
    &::after {
        content: " ";
        display: block;
        width: 2rem;
        height: 4px;
        background: #fff;
        margin-top: 4px;
    }
}
