.settings {
    margin: 0 auto;
    padding: 1rem 1rem 2rem;
    max-width: 400px;
    color: #fff;
}

.settings__summary {
    margin-bottom: 8px;
}

.settings__label {
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns: 125px auto 12px;
    text-transform: capitalize;

    + .settings__label {
        margin-top: 12px;
    }
}

.settings__voices {
    font-size: 12px;
    grid-column: span 2;
}

.settings__button {
    background: none;
    border: 0;
    color: inherit;
    text-decoration: underline;
    padding: 0;
    margin: 12px 0 0 0;
    float: right;
}
