.teaser {
    padding: 16px 0;

    h2 {
        font-size: inherit;
        margin: 0;
    }

    p {
        margin: 8px 0 10px;
    }
}

.teaser + .teaser {
    border-top: 1px solid #eee;
}

.teaser__kicker {
    color: #252525;
    font-size: 13px;
    letter-spacing: .05em;
}

.teaser__title {
    display: block;
    letter-spacing: .03em;
}

.teaser__date {
    color: #707070;
    font-size: 13px;
    margin-top: .5em;
}

$play-button-size: 40px;

.teaser__playbutton {
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #ddd;
    color: inherit;
    font-size: 16px;
    height: $play-button-size;
    line-height: $play-button-size;
    margin: 0 16px 0 0;
    text-align: center;
    transition-duration: .15s;
    transition-property: border-color, color;
    transition-timing-function: ease-in-out;
    width: $play-button-size;
}
