.text-display {
    max-width: 900px;
    color: #fff;
    padding: 1rem 1rem 2rem;
    margin: 0 auto;
    height: 100%;
}

.text-display__content {
    overflow-y: scroll;
    margin: 0;
    height: 100%;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        background-color: $color-player-bg;
    }

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 2px;

        &:hover {
            background-color: red;
        }
    }
}

.text-display__marked {
    background-color: $color-text-display-marked;
    outline: 2px solid $color-text-display-marked;
    color: currentColor;
}
